In [2]:
import pandas as pd 
surveys_df = pd.read_csv('data/surveys.csv')

In [3]:
# check the type of an object:type()
type(surveys_df)

pandas.core.frame.DataFrame

In [4]:
# check the type of one column in a DataFrame: dtype 
surveys_df['sex'].dtype # O means oject

dtype('O')

In [5]:
# Return the dtypes in the DataFrame: dtypes
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [6]:
print(5+5)

10

In [7]:
print(5/9)

0.5555555555555556

In [8]:
# convert integer

int(5/9)

0

In [9]:
# convert float

float(5+5)

10.0

In [10]:
# Convert the record_id field from an integer to a float: 
# DataFrame.astype(dtype, copy=True, errors='raise')

surveys_df['record_id']=surveys_df['record_id'].astype('int32')
surveys_df['record_id'].dtype

dtype('int32')

In [11]:
# Challenge - Changing Types

surveys_df['plot_id'].astype('float')

0         2.0
1         3.0
2         2.0
3         7.0
4         3.0
         ...
35544    15.0
35545    15.0
35546    10.0
35547     7.0
35548     5.0
Name: plot_id, Length: 35549, dtype: float64

In [12]:
# surveys_df['weight'].astype('int64')

# ValueError: Cannot convert non-finite values (NA or inf) to integer

In [13]:
# method 1: NaN value
nan_weight = surveys_df[surveys_df['weight'].isnull()]
nan_weight

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [14]:
# method 2: NaN value
len(surveys_df[pd.isnull(surveys_df.weight)])

3266

In [15]:
len(surveys_df[surveys_df.weight > 0])
# or 
# len(surveys_df[surveys_df['weight']>0])

32283

In [16]:
# replace all NaN values with zeroes using the .fillna()

df1 = surveys_df.copy()
df1['weight'] = df1['weight'].fillna(0)
df1.weight

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
35544     0.0
35545     0.0
35546    14.0
35547    51.0
35548     0.0
Name: weight, Length: 35549, dtype: float64

In [17]:
# However, mean value when NaN values are diffrent from 0
print('NaN: ',surveys_df['weight'].mean())
print('0:   ', df1['weight'].mean())

NaN:  42.672428212991356
0:    38.751976145601844

In [18]:
# fill NaN values with mean of all values

df1['weight']=surveys_df['weight'].fillna(surveys_df['weight'].mean())
df1['weight']

0        42.672428
1        42.672428
2        42.672428
3        42.672428
4        42.672428
           ...
35544    42.672428
35545    42.672428
35546    14.000000
35547    51.000000
35548    42.672428
Name: weight, Length: 35549, dtype: float64

In [19]:
# Challenge - Counting

# Count the number of missing values per column
print("record_id : % 2d" %(len(surveys_df[pd.isnull(surveys_df['record_id'])]))) 
print("month : % 2d" %(len(surveys_df[pd.isnull(surveys_df['month'])]))) 
print("day : % 2d" %(len(surveys_df[pd.isnull(surveys_df['day'])]))) 
print("plot_id : % 2d" %(len(surveys_df[pd.isnull(surveys_df['plot_id'])]))) 
print("species_id : % 2d" %(len(surveys_df[pd.isnull(surveys_df['species_id'])]))) 
print("sex : % 2d" %(len(surveys_df[pd.isnull(surveys_df['sex'])]))) 
print("hindfoot_leangth : % 2d" %(len(surveys_df[pd.isnull(surveys_df['hindfoot_length'])]))) 
print("weight : % 2d" %(len(surveys_df[pd.isnull(surveys_df['weight'])])))

record_id :  0
month :  0
day :  0
plot_id :  0
species_id :  763
sex :  2511
hindfoot_leangth :  4111
weight :  3266

In [20]:
surveys_df.isnull()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
35544,False,False,False,False,False,False,True,True,True
35545,False,False,False,False,False,False,True,True,True
35546,False,False,False,False,False,False,False,False,False
35547,False,False,False,False,False,False,False,False,False
35548,False,False,False,False,False,True,True,True,True

In [21]:
# Writing Out Data to CSV
surveys_df = pd.read_csv("data/surveys.csv")

# drop all the rows that contain missing values: dropna
df_na = surveys_df.dropna()
df_na

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63,8,19,1977,3,DM,M,35.0,40.0
63,64,8,19,1977,7,DM,M,37.0,48.0
64,65,8,19,1977,4,DM,F,34.0,29.0
65,66,8,19,1977,4,DM,F,35.0,46.0
66,67,8,19,1977,7,DM,M,35.0,36.0
...,...,...,...,...,...,...,...,...,...
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0

In [22]:
# export a DataFrame in CSV: to_csv

df_na.to_csv('data/surveys_complete.csv', index=False) #True: Write row names (index)