In [11]:
# For loops

animals = ['lion', 'tiger', 'crocodile', 'vulture', 'hippo']
print(animals)

for animal in animals:
    print(animal)

['lion', 'tiger', 'crocodile', 'vulture', 'hippo']
lion
tiger
crocodile
vulture
hippo

In [12]:
for creature in animals:
    pass
print('The loop variable is now: ' + creature)

The loop variable is now: hippo

In [21]:
# Challenge - Loops
animals = ['lion', 'tiger', 'crocodile', 'vulture', 'hippo']
for animal in animals:
    print(animal+',', end=' ')

lion, tiger, crocodile, vulture, hippo,

In [22]:
# better way: .join()
print(', '.join(animals))

lion, tiger, crocodile, vulture, hippo

In [28]:
# Automating data processing using For Loops

import os

os.mkdir('data/yearly_files')
# os.makedirs: makes all intermediate-level directories
os.listdir('data')

['surveys2001.csv',
 'surveys2002.csv',
 'speciesSubset.csv',
 'bouldercreek_09_2013.txt',
 'species.csv',
 '.DS_Store',
 'yearly_files',
 'surveys.csv',
 'out.csv',
 'portal_mammals.sqlite',
 'README.txt',
 'surveys_complete.csv',
 'plots.csv']

In [64]:
import pandas as pd

# load data
surveys_df = pd.read_csv('data/surveys.csv')
# select only data in 2002
survey2002 = surveys_df[surveys_df.year==2002]
survey2002
# create a CSV file
survey2002.to_csv('data/yearly_files/survey2002.csv')

In [65]:
# automatic way to create yearly surveys

years = surveys_df['year'].unique()

for year in years:
    survey_year = surveys_df[surveys_df.year==year]
    file = 'data/yearly_files/survey'+str(year)+'.csv'
    print(file)
    survey_year.to_csv(file)

data/yearly_files/survey1977.csv
data/yearly_files/survey1978.csv
data/yearly_files/survey1979.csv
data/yearly_files/survey1980.csv
data/yearly_files/survey1981.csv
data/yearly_files/survey1982.csv
data/yearly_files/survey1983.csv
data/yearly_files/survey1984.csv
data/yearly_files/survey1985.csv
data/yearly_files/survey1986.csv
data/yearly_files/survey1987.csv
data/yearly_files/survey1988.csv
data/yearly_files/survey1989.csv
data/yearly_files/survey1990.csv
data/yearly_files/survey1991.csv
data/yearly_files/survey1992.csv
data/yearly_files/survey1993.csv
data/yearly_files/survey1994.csv
data/yearly_files/survey1995.csv
data/yearly_files/survey1996.csv
data/yearly_files/survey1997.csv
data/yearly_files/survey1998.csv
data/yearly_files/survey1999.csv
data/yearly_files/survey2000.csv
data/yearly_files/survey2001.csv
data/yearly_files/survey2002.csv

In [70]:
# Challenge - Modifying loops

for year in years:
    survey_year_dropna = surveys_df[surveys_df.year==year].dropna()

In [62]:
#every five years
n = 5
first_year = surveys_df['year'].min()
last_year = surveys_df['year'].max()

for year in range(first_year, last_year, n):
    print(year)
    survey_year_dropna=surveys_df[surveys_df['year']==year].dropna()
    
survey_year_dropna

1977
1982
1987
1992
1997

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
24920,24921,2,8,1997,2,PB,M,22.0,32.0
24921,24922,2,8,1997,21,PF,M,16.0,8.0
24922,24923,2,8,1997,1,OT,M,19.0,22.0
24923,24924,2,8,1997,20,OT,F,20.0,19.0
24924,24925,2,8,1997,22,DM,F,37.0,43.0
...,...,...,...,...,...,...,...,...,...
27407,27408,12,29,1997,8,DO,F,34.0,45.0
27408,27409,12,29,1997,9,DO,F,36.0,51.0
27409,27410,12,29,1997,6,PE,M,21.0,23.0
27410,27411,12,29,1997,9,PM,F,21.0,25.0
27411,27412,12,29,1997,13,OT,F,20.0,24.0

In [77]:
species = surveys_df['species_id'].unique()


for specie in species:
    survey_specie = surveys_df[surveys_df.species_id==specie]
    file = 'data/yearly_files/species'+str(specie)+'.csv'
    print(file)
    survey_specie.to_csv(file)

data/yearly_files/speciesNL.csv
data/yearly_files/speciesDM.csv
data/yearly_files/speciesPF.csv
data/yearly_files/speciesPE.csv
data/yearly_files/speciesDS.csv
data/yearly_files/speciesPP.csv
data/yearly_files/speciesSH.csv
data/yearly_files/speciesOT.csv
data/yearly_files/speciesDO.csv
data/yearly_files/speciesOX.csv
data/yearly_files/speciesSS.csv
data/yearly_files/speciesOL.csv
data/yearly_files/speciesRM.csv
data/yearly_files/speciesnan.csv
data/yearly_files/speciesSA.csv
data/yearly_files/speciesPM.csv
data/yearly_files/speciesAH.csv
data/yearly_files/speciesDX.csv
data/yearly_files/speciesAB.csv
data/yearly_files/speciesCB.csv
data/yearly_files/speciesCM.csv
data/yearly_files/speciesCQ.csv
data/yearly_files/speciesRF.csv
data/yearly_files/speciesPC.csv
data/yearly_files/speciesPG.csv
data/yearly_files/speciesPH.csv
data/yearly_files/speciesPU.csv
data/yearly_files/speciesCV.csv
data/yearly_files/speciesUR.csv
data/yearly_files/speciesUP.csv
data/yearly_files/speciesZL.csv
data/yearly_files/speciesUL.csv
data/yearly_files/speciesCS.csv
data/yearly_files/speciesSC.csv
data/yearly_files/speciesBA.csv
data/yearly_files/speciesSF.csv
data/yearly_files/speciesRO.csv
data/yearly_files/speciesAS.csv
data/yearly_files/speciesSO.csv
data/yearly_files/speciesPI.csv
data/yearly_files/speciesST.csv
data/yearly_files/speciesCU.csv
data/yearly_files/speciesSU.csv
data/yearly_files/speciesRX.csv
data/yearly_files/speciesPB.csv
data/yearly_files/speciesPL.csv
data/yearly_files/speciesPX.csv
data/yearly_files/speciesCT.csv
data/yearly_files/speciesUS.csv

In [93]:
# Building reusable and modular code with function

def test_function(input1, input2):
    print('inputs are: ', input1,input2, '(done inside the function)')
    
    return input1*input2

In [94]:
multiply = test_function(6,5)

inputs are:  6 5 (done inside the function)

In [96]:
print('Their product is:', multiply)

Their product is: 30

In [97]:
# Challenge - Functions

def one_year_csv_writer(this_year, all_data):
    """
    Writes a csv file for data from a given year.

    Keyword arguments:
    this_year -- year for which data is extracted
    all_data -- DataFrame with multi-year data
    """

    # Select data for the year
    surveys_year = all_data[all_data.year == this_year]

    # Write the new DataFrame to a csv file
    filename = 'data/yearly_files/function_surveys' + str(this_year) + '.csv'
    surveys_year.to_csv(filename)

In [98]:
one_year_csv_writer?

In [99]:
one_year_csv_writer(2002, surveys_df)

In [101]:
# looping in all years

def yearly_data_csv_writer(start_year, end_year, all_data):
    """
    Writes separate CSV files for each year of data.

    Keyword arguments:
    start_year -- the first year of data we want
    end_year -- the last year of data we want
    all_data -- DataFrame with multi-year data
    """
    
    for year in range(start_year, end_year+1):
        one_year_csv_writer(year, all_data)

In [102]:
surveys_df=pd.read_csv('data/surveys.csv')
start_year = surveys_df['year'].min()
end_year = surveys_df['year'].max()
yearly_data_csv_writer(start_year,end_year,surveys_df)

In [111]:
# Challenge- More functions

def one_year_csv_writer(this_year, all_data, folder_to_save, root_name):
    """
    Writes a csv file for data from a given year.

    Parameters
    ---------
    this_year : int
        year for which data is extracted
    all_data: pd.DataFrame
        DataFrame with multi-year data
    folder_to_save : str
        folder to save the data files
    root_name: str
        root of the filenames to save the data
    """
    filename = os.path.join(folder_to_save,''.join([root_name, str(this_year), '.csv']))
    print(filename)
    return filename

In [112]:
start_year = surveys_df['year'].min()
one_year_csv_writer(start_year, surveys_df, 'data/new/', 'root_name')

data/new/root_name1977.csv

'data/new/root_name1977.csv'

In [113]:
# add default value

def yearly_data_arg_test(all_data, start_year=1977, end_year=2002):
    """
    Modified from yearly_data_csv_writer to test default argument values!

    Keyword arguments:
    start_year -- the first year of data we want (default 1977)
    end_year -- the last year of data we want (default 2002)
    all_data -- DataFrame with multi-year data
    """

    return start_year, end_year


start, end = yearly_data_arg_test(surveys_df, 1988, 1993)
print('Both optional arguments:\t', start, end)

start, end = yearly_data_arg_test(surveys_df)
print('Default values:\t\t\t', start, end)

Both optional arguments:	 1988 1993
Default values:			 1977 2002

In [114]:
def yearly_data_arg_test(all_data, start_year=None, end_year=None):
    """
    Modified from yearly_data_csv_writer to test default argument values!

    Keyword arguments:
    all_data -- DataFrame with multi-year data
    start_year -- the first year of data we want, Check all_data! (default None)
    end_year -- the last year of data we want; Check all_data! (default None)
    """
    if start_year is None:
        start_year=min(all_data.year)
    if end_year is None:
        end_year=max(all_data.year)
        
    return start_year,end_year

start, end = yearly_data_arg_test(surveys_df, 1988, 1993)
print('Both optional arguments:\t', start, end)

start, end = yearly_data_arg_test(surveys_df)
print('Default values:\t\t\t', start, end)

Both optional arguments:	 1988 1993
Default values:			 1977 2002

In [115]:
# Challenge - Variables

a = None
type(a)

NoneType

In [117]:
yearly_data_arg_test(surveys_df, end_year=2001)

(1977, 2001)

In [118]:
# If Statements

a = 5

if a<0:  # Meets first condition?

    # if a IS less than zero
    print('a is a negative number')

elif a>0:  # Did not meet first condition. meets second condition?

    # if a ISN'T less than zero and IS more than zero
    print('a is a positive number')

else:  # Met neither condition

    # if a ISN'T less than zero and ISN'T more than zero
    print('a must be zero!')

a is a positive number

In [120]:
start, end = yearly_data_arg_test(surveys_df)
print('Default values:\t\t\t', start, end)

start, end = yearly_data_arg_test(surveys_df, 1988, 1993)
print('No keywords:\t\t\t', start, end)

start, end = yearly_data_arg_test(surveys_df, start_year=1988, end_year=1993)
print('in order:\t\t\t', start, end)

start, end = yearly_data_arg_test(surveys_df, end_year=1993, start_year=1988)
print('Both keywords, flipped:\t\t', start, end)

start, end = yearly_data_arg_test(surveys_df, start_year=1988)
print('One keyword, default end:\t', start, end)

start, end = yearly_data_arg_test(surveys_df, end_year=1993)
print('One keyword, default start:\t', start, end)

Default values:			 1977 2002
No keywords:			 1988 1993
in order:			 1988 1993
Both keywords, flipped:		 1988 1993
One keyword, default end:	 1988 2002
One keyword, default start:	 1977 1993

In [121]:
# Challenge - Modifying functions

def one_year_csv_writer(this_year, all_data, folder_to_save='./', root_name='survey'):
    """
    Writes a csv file for data from a given year.

    Parameters
    ---------
    this_year : int
        year for which data is extracted
    all_data: pd.DataFrame
        DataFrame with multi-year data
    folder_to_save : str
        folder to save the data files
    root_name: str
        root of the filenames to save the data
    """

    # Select data for the year
    surveys_year = all_data[all_data.year == this_year]

    # Write the new DataFrame to a csv file
    filename = os.path.join(folder_to_save, ''.join([root_name, str(this_year), '.csv']))
    surveys_year.to_csv(filename)

In [124]:
def one_year_csv_writer(this_year, all_data, folder_to_save='./', root_name='survey'):
    """
    Writes a csv file for data from a given year.

    Parameters
    ---------
    this_year : int
        year for which data is extracted
    all_data: pd.DataFrame
        DataFrame with multi-year data
    folder_to_save : str
        folder to save the data files
    root_name: str
        root of the filenames to save the data
    """

    # Select data for the year
    surveys_year = all_data[all_data.year == this_year]
# Write the new DataFrame to a csv file
    if len(surveys_year) > 0:
        filename = os.path.join(folder_to_save, ''.join([root_name, str(this_year), '.csv']))
        surveys_year.to_csv(filename)
    else:
        print("No data for year " + str(this_year))

In [127]:
print(os.listdir('.'))

['Data Workflows and Automation.ipynb', '.DS_Store', 'Combining DataFrames with Pandas.ipynb', 'portal-teachingdb-master.zip', '.ipynb_checkpoints', 'data']

In [128]:
if 'dir_name_here' in os.listdir('.'):
   print('Processed directory exists')
else:
   os.mkdir('dir_name_here')
   print('Processed directory created')

Processed directory created